<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <application
        android:allowBackup="true"
        android:label="Routine Voice Alarm"
        android:icon="@drawable/routine_voice_alarm_skp"
        android:roundIcon="@drawable/routine_voice_alarm_skp"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoutineVoiceAlarm">


        <activity
            android:name=".AlarmActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />


        <activity
            android:name=".AddEditAlarmActivity"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" />


        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />


        <receiver
            android:name=".BootReceiver"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />

                <action
                    android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <action
                    android:name="android.intent.action.TIME_SET" />

                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED" />

            </intent-filter>

        </receiver>


        <receiver
            android:name=".ExactAlarmPermissionReceiver"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />

            </intent-filter>

        </receiver>


    </application>

</manifest>
